#head{
    text-align: center; 
    color: red;
    background-color: black;
    border: 0;
    padding: 1%;
}

#head > h1 {
    font-size: 500%;
}

body {
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-style: normal;
      
}

.perm {
    text-align: center;
    font-weight: bold;
}
.perm > div {
    border: 10px white;
    float: left;
    padding-left: 10px;
}